*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

    overflow-x:clip;

}

body{

    background:var(--background);

    color:var(--text);

    font-family:"Montserrat",sans-serif;

    overflow-x:hidden;

    min-width:0;

}

img{

    width:100%;
    display:block;

}

a{

    color:inherit;
    text-decoration:none;

}

button{

    font-family:inherit;

    cursor:pointer;

}

ul{

    list-style:none;

}

.container{

    width:min(92%,var(--container));

    margin:auto;

}
